@tailwind base;
@tailwind components;
@tailwind utilities;

@layer-base {
  :root {
    --color-primary: 51 85 119;
    --color-secondary: 68 153 102;
    --contrast: #88aabb;
    --neutral: #ffffff;
    --contrast-color-dark: #446677;
    --contrast-color-light: #aaccee;
  }
}

html,
body {
  margin: 0;
  padding: 0;
  background-color: #ffffff;
  box-sizing: border-box;
}

a {
  text-decoration: none;
  color: black;
}

.input{
  @apply bg-white bg-opacity-10 hover:bg-opacity-20 transition duration-500 shadow-sm rounded-md p-3 outline-none w-full;
}


::-webkit-scrollbar {
  width: 0px;
  height: 5px;
}

::-webkit-scrollbar-thumb {
  background-color: rgb(114, 113, 113);
  border-radius: 10px;
  height: 200px;
}

::-webkit-scrollbar-track {
  background-color: transparent;
}
